<p class="lead">Hey {% if billing_address.name %} {{ billing_address.name }}{% endif %},</p>
<p class="lead">Dein Warenkorb bei {{ shop_name }} is noch gefüllt und wartet dass Du wiederkommst!</p>

<p>Im Warenkorb sind noch:</p>
<ul>
  {% for line in line_items %}
  <li>
    {{ line.quantity }} x {{ line.title }}
  </li>
  {% endfor %}
</ul>
<p>Aber es ist noch nicht zu spät! Um die Bestellung abzuschließen klicke diesen Link:</p>
<p>{{ url }}</p>

<p>Danke und viel Spaß beim Shoppen!</p>

