{% if billing_address.name %}
<p class="lead">Hallo {{ billing_address.name }},</p>
{% endif %}

<p class="lead">Für folgende Teile Deiner Order {{ name }} gibt es neue Versandinformationen:</p>

<table class="products-table">
  <thead>
    <tr>
      <th>
      </th>
      <th class="product-description">
        Beschreibung
      </th>
      <th>
        Stk
      </th>
    </tr>
  </thead>
  <tbody>
  {% for line in fulfillment.fulfillment_line_items %}
    <tr>
      <td class="product-image">
        <img src="{{ line.line_item.product.featured_image | product_img_url: 'small' }}" />
      </td>
      <td class="product-description">
        {{ line.line_item.title }}
      </td>
      <td class="qty">
        {{ line.quantity }} 
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<p>Sie wurden versand {% if fulfillment.tracking_company %} mit {{ fulfillment.tracking_company }}{% endif %} mit Tracking Nummer {{ fulfillment.tracking_number }}. <a href="{{ fulfillment.tracking_url }}">Klicke hier um den Status einzusehen</a>.</p>

