<p class="lead">Hallo {{ billing_address.name }},</p>
<p class="lead">
{% if fulfillment.line_items.size == line_items.size %}
  Alle Teile
{% elsif unfulfilled_line_items.size == 0 %}
  Diese Teile
{% else %}
  Ein Teil
{% endif %}
 Deiner Order {{ name }} wurden versandt:
</p>

<table class="products-table">
  <thead>
    <tr>
      <th>
      </th>
      <th class="product-description">
        Beschreibung
      </th>
      <th>
        Stk
      </th>
    </tr>
  </thead>
  <tbody>
  {% for line in fulfillment.line_items %}
    <tr>
      <td class="product-image">
        <img src="{{ line.product.featured_image | product_img_url: 'small' }}" />
      </td>
      <td class="product-description">
        {{ line.title }}
      </td>
      <td class="qty">
        {{ line.quantity }} 
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% if requires_shipping %}
  <p>Sie wurden {% if fulfillment.tracking_company %}via {{ fulfillment.tracking_company }} {% endif %}an folgende Address versandt: </p>

  <p><b>Lieferadresse</b><br />
  {{ shipping_address.name }}<br />
  {{ shipping_address.street }}<br />
  {{ shipping_address.city }}<br />
  {{ shipping_address.province }}
  {{ shipping_address.zip }}<br />
  {{ shipping_address.country }}</p>

  {% if fulfillment.tracking_numbers %}
    <p>
    Die Trackingnummer für diese Teile ist
    {% if fulfillment.tracking_company contains 'Other' %}
      {% for number in fulfillment.tracking_numbers %}
        {{ number }}
        {% assign lnumber = number | downcase %}
        {% if lnumber contains 'la' or lnumber contains 'ka' %}
          <!-- Insert your shipping company -->
        {% endif %}
      {% endfor %}
    {% else %}
      {{ fulfillment.tracking_numbers }} von {{ fulfillment.tracking_company }}
    {% endif %}
    </p>
  {% endif %}
{% endif %}

<p>Vielen Dank für Deine Order bei {{ shop_name }}!</p>

